body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog ul {
    list-style: none;
    padding: 0;
}

.catalog li {
    margin: 20px;
    text-align: center;
}

.catalog img {
    width: 400px;
    height: auto;
}

.product {
    text-align: center;
    padding: 20px;
}

.product img {
    width: 500px;
    height: auto;
}

.order {
    text-align: center;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}

input {
    padding: 20px;
    margin-bottom: 40px;
}

button {
    padding: 100px 200px;
    height: 50px;
    width: 20px;
}
.navigation-button {
    position: fixed;
    bottom: 20px;
    left: 200px;
}

.navigation-button .btn {
    display: inline-block;
    padding: 15px 30px; /* Увеличиваем размер кнопки */
    background-color: #000; /* Задаем черный фон */
    color: #fff; /* Задаем белый цвет текста */
    text-decoration: none;
    border-radius: 8px; /* Увеличиваем радиус скругления углов */
}