<!DOCTYPE html>
<html>
<head>
    <title>Apple Store</title>
    <link rel="stylesheet" href="~/css/style.css"> <!-- Путь к файлу стилей -->
</head>
<body>
<header>
    @RenderSection("Header", required:false)
    <h1>Apple Store</h1>
</header>
@RenderBody()
</body>
</html>
