<!DOCTYPE html>
<html>
<head>
    <title>Apple Store</title>
    <link rel="stylesheet" href="~/css/style.css"> <!-- Путь к файлу стилей -->
</head>
<body>
<header>
    <h1>Онлайн магазин телефонов</h1>
</header>
@RenderBody()
</body>
</html>
