<!DOCTYPE html>
<html>
<head>
    <title>Apple Store</title>
    <link rel="stylesheet" href="~/css/style.css"> <!-- Путь к файлу стилей -->
</head>
<body>
<header>
    <h1>Страница Администратора</h1>
    <div class="auth-buttons">
        <a class="btn btn-auth" href="@Url.Action("GetOrders", "Order", new {area="Admin"})">Обрабатывать заказы</a>
        <a class="btn btn-auth" href="@Url.Action("GetDevices", "Device")">Редактировать девайсы</a>
        <a class="btn btn-auth" href="@Url.Action("Index", "Account")">Выйти</a>
    </div>
</header>
@RenderBody()
</body>
</html>