@model string

<h1 style="color: red"class="text-danger">Error : @Model </h1>

<div class="navigation-button">
    <a href="@Url.Action("Catalog", "Device",new {type=-1})" class="btn">Вернуться в каталог</a>
</div>