@model IEnumerable<AppleStore.Domain.Entity.Device>?

<!DOCTYPE html>
<html>
<head>
    <title>Онлайн магазин телефонов</title>
    <link rel="stylesheet" href="~/css/style.css"> <!-- Путь к файлу стилей -->
</head>
<body>
    <header>
        <h1>Онлайн магазин телефонов</h1>
    </header>
<div class="catalog">
    <ul>
        @foreach (var phone in Model)
        {
            <li>
                <a href="@Url.Action("Details", "Order", new {id=@phone.Id})"> <!-- Переход к странице товара -->
                    <img src="@phone.ImageUrl">
                    <p>@phone.Name <br/>@phone.Price  руб</p>
                </a>
            </li>
        }
    </ul>
</div>
</body>
</html>
