@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div align="center">
    <form  method="post">
        <label>Имя</label><br/>
        <input type="text" name="Name"/><br/>
        <label>Цена</label><br/>
        <input type="number" name="Price"/><br/>
        <label>Модель</label><br/>
        <input type="text" name="Model"/><br/>
        <label>Описание</label><br/>
        <input type="text" name="Description"/><br/>
        <label>Тип</label><br/>
        <input type="text" name="Type"/><br/>
        <input type="submit" name="Отправить"/>
    </form>
</div>
</body>
</html>